body{
    font-family: 'Times New Roman', Times, serif;
    background-color: beige;
    background-image: url(images/Image\ background\ 3.jpg);
    margin: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: wheat;
}
#task-container{
    padding: 20px;
}
.task{
    background: rgb(233, 227, 227);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: none;
}
.task h3{
    margin: 0 0 10px;
}
button:hover{
    background:beige ;
}
button{
    border-radius: 10px;
    border: none;
}