body{
   font-family: 'Times New Roman', Times, serif; 
   background-color: beige;
   background-image: url(images/Image\ background.jpg);
}
 .container {
  width: 500px;
  margin: 1px auto;
  padding: 40px;
  text-align: justify;
  border-radius: 10px;
}

input{
     width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  outline: none;
}

button{
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 200px;
    background-color: burlywood;
    border:none; 
    border-radius: 10px;
    cursor: pointer; 


}

button:hover{
    background:rgb(234, 206, 170) ;
}